@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary mb-3">Bienvenido a QuickCareSim</h1>
        <p class="lead text-secondary">Simula estrategias de atención en salas de urgencia y evalúa su rendimiento con algoritmos paralelos.</p>

        <hr class="my-4" />

        <p>
            ¿Quieres empezar una simulación?
        </p>

        <a class="btn btn-outline-primary btn-lg" asp-controller="Simulation" asp-action="Index">
            Nueva Simulación
        </a>
    </div>
</div>